.Notify{
    width: 350px;
    height: 200px;
    border-bottom: 1px solid #555555;
    border-radius: 10px;
    border-right: 1px solid #555555;
    margin-bottom: 15px;
    position: absolute;
    margin-top: -10px !important;
    margin-left: 5%;
    box-shadow: 3px 13px 51px  #551555;
    background-color: #FFFFFF;
   

}

.msn{
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #551555;
    margin-top: 5%;
}
.msn_hide{
    transition-delay: 1s;
    transition-property: display, none;
}

.msn::before{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid #ffffff;
    bottom: -26px; /*localização. Experimente alterar para 'bottom'*/
    left: 65%;
    
    
}


