<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <head>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand&display=swap" rel="stylesheet"> 
        
            <link rel="stylesheet" href="css/Politica_de_privacidade.css">
            <script src="js/script.js" defer ></script>
            <title> Politica de privacidade </title>
        
        </head>
    </head>
    <body>
        
        <header>
        
            <div id="submenu">
                
                <img src="img/paula/menu.svg" id="menuA" onclick="menu()">
                <img src="img/paula/letra-x.svg" id="menuF" onclick="menu()">
        
                <a onclick.window.location="/index">
                                
                    <img src="img/paula/variações logo/overlock BD81F3.svg" id="logo">
        
                </a>
                <span id="log" class="logFoto">
                    <img src="<%= foto_painel %>" alt='imagem de perfil' class= 'logFoto    width='60' height='60'/>  
                </span>
            </div>
        
        </header>
        
        <main>
            
            <%- include('menu') %>

            <h3> Politica de Privacidade </h3>

            <p> Esta Política de Privacidade descreve como as informações pessoais dos usuários são coletadas, usadas e compartilhadas quando você visita ou faz uma compra no nosso site.</p>

 

                <h3>Informações Pessoais que Coletamos</h3>
                
                 
                
<p>                Quando você visita o site, automaticamente coletamos certas informações sobre o seu dispositivo, incluindo informações sobre seu navegador, endereço IP, fuso horário e alguns dos cookies que estão instalados no seu dispositivo. Além disso, quando você faz uma compra ou tenta fazer uma compra através do site, coletamos informações pessoais fornecidas, incluindo nome, endereço de entrega, endereço de e-mail e número de telefone.
</p>                
                 
                
                <h3>Como Usamos Suas Informações Pessoais</h3>
                
                 
                
<p>                Usamos as informações pessoais que coletamos para processar pedidos realizados através do site (incluindo informações de pagamento e fornecendo faturas e/ou confirmações de pedidos). Além disso, usamos essas informações para:
</p>                
                 
                
               <p>
                Comunicar-se com você;
                Rastrear padrões de navegação em nosso site para melhorar a experiência do usuário;
                Enviar informações sobre promoções ou novos produtos.
                Compartilhamento de Informações Pessoais
              
               </p>  
                 
                
<p>
    Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para processar seu pedido ou cumprir com a lei.
</p>                
                 
                
                <h3> Segurança </h3>
                
                 
                
<p>                Tomamos precauções para proteger suas informações pessoais. No entanto, lembre-se de que nenhum método de transmissão pela internet ou método de armazenamento eletrônico é 100% seguro. Portanto, embora nos esforcemos para usar meios comercialmente aceitáveis para proteger suas informações pessoais, não podemos garantir sua segurança absoluta.
</p>                
                 
                
                <h3> Seus Direitos </h3>
                
                 
                
<p>
    Você tem o direito de acessar as informações pessoais que mantemos sobre você e solicitar que suas informações pessoais sejam corrigidas, atualizadas ou excluídas. Se você deseja exercer esse direito, entre em contato conosco através dos detalhes abaixo.
</p>                
                 
                
                <h3> Alterações </h3>
                
                 
                
<p>
    Podemos atualizar esta política de privacidade de tempos em tempos para refletir, por exemplo, mudanças em nossas práticas ou por outras razões operacionais, legais ou regulatórias.
</p>                
                 
                
                <h3> Contato </h3>
                
                 
                
<p>                Para mais informações sobre nossas práticas de privacidade, se você tiver dúvidas ou se quiser fazer uma reclamação, entre em contato conosco por e-mail em [seu endereço de e-mail] ou pelo correio usando os detalhes fornecidos abaixo:
</p>                
                 
                
<p>                OVERLOCK
                
    R. Interna Grupo Bandeirante, 138 - Jardim Belval
    
    Barueri - SP, 06420-150
    
    Brasil</p>
        
        </main>
        
        <footer>
        
            <h3> Navegação </h3>
        
            <ul>
        
                <li>
                    <a href="/11_Pagina_inicial_feed">Início</a>
                </li>
                <li>
                    <a href="/13_Meus_pedidos">Meus Pedidos</a>
                </li>
                <li>
                    <a href="/18_Notificacao_geral">Notificações</a>
                </li>
                <li>
                    <a href="/19_Chat">Chat</a>
                </li>
                <li>
                    <a href="/10_Perfil">Meu Perfil</a>
                </li>
                <li>
                    <a href="/">Configurações</a>
                </li>
                <li>
                    <a href="/22_Politica_de_privacidade_cliente">Política de Privacidade</a>
                </li>
                <li>
                    <a href="/20_Denuncia_cliente">Denúncia</a>
                </li>
                <li>
                    <a href="/21_Sair_cliente">Sair</a>
                </li>
                
            </ul>
        
            <address>
        
                <h3> Contato </h3>
        
                <div class="con">
        
                    <img src="img/paula/telefone.svg">
        
                    <a href="tel:+5511999999999">(11) 99999-9999</a>
        
                </div>
        
                <div class="con">
        
                    <img src="img/paula/email.svg">
        
                    <a href="mailto:overlock.site@gmail.com">overlock.site@gmail.com</a>
        
                </div>
        
                <h3> REDES SOCIAIS </h3>
        
                <div class="rede">
        
                    <img src="img/paula/instagram.svg" alt="">
                    <img src="img/paula/pinterest.svg" alt="">
                    <img src="img/paula/twitter.svg" alt="">
        
                </div>
        
                <div class="empre">
        
                    <h3> OUTROS SERVIÇOS </h3> <br>
        
                    <a href="" class="transpor" > Cadastrar como transportadora </a>
        
                </div>
        
            </address>
        
            <a href="#logo">
        
                <img  id="inicio" src="img/paula/variações logo/overlock - tipografia.svg">
        
            </a>
            
        </footer>
        
    </body>
</html>
