<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="css/Pedidos_propostas.css">
    <link rel="stylesheet" href="css/geral.css">
    <script src="js/script.js" defer></script>
    <script src="js/Default.js" defer></script>
    <script src="js/orcamento.js" defer></script>
    <title> Minhas Propostas </title>

</head>

<body>

    <header>

        <div id="submenu">

            <img src="img/paula/menu.svg" id="menuA" onclick="menu()">
            <img src="img/paula/letra-x.svg" id="menuF" onclick="menu()">

            <a onclick.window.location="/index">

                <img src="img/paula/variações logo/overlock BD81F3.svg" id="logo">

            </a>
            <span id="log" class="logFoto">
                <img src="<%= foto_painel %>" alt='imagem de perfil' class= 'logFoto    width='60' height='60'/>  
            </span>
        </div>

    </header>

    <main>

      <%- include('menu') %>

        <div id="reader">

            <img src="img/icone de voltar.svg" alt="voltar" id="voltar" width="30px" height="30px">
            
            <h2> Minhas propostas </h2>
           
        </div>
        <div id="msn" class="Notify msn" style="display: none;">
            PEDIDO ENVIADO COM SUCESSO !
        </div>
        <% const proposta=JSON.parse(propostas) %>

        <% if(proposta.length != 0){
            for(var i=0; i < proposta.length; i++ ){%>
                
                <img src="img/fotos_propostas/<%=proposta[i].foto_proposta%>" alt="" id="nada">
                
                <br>

                <a href="/45_Proposta_Individual?id=<%= proposta[i].id_proposta %>" id="novo"> Ver de Propostas </a> <br/>

                   <%}
            }else{ %>
                <h2 id="baixo"> Procurar propostas com a </h2>

                <img src="img/paula/variações logo/overlock - tipografia - escuro.svg" id="over">

                <br>

                <br>

                <a href="" id="novo"> Feed de Propostas </a>
           <% } %>

           <img src="img/paula/variações logo/overlock - tipografia - escuro.svg" id="over">

    </main>

    <footer>

        <h3> Navegação </h3>

        <ul>

            <li>
                <a href="/54_Pagina_inicial_feed">Início</a>
            </li>
            <li>
                <a href="/46_Propostas_em_andamento">Minhas Propostas</a>
            </li>
            <li>
                <a href="/53_Notificacao_geral">Notificações</a>
            </li>
            <li>
                <a href="/51_Chat">Chat</a>
            </li>
            <li>
                <a href="/42_Perfil">Meu Perfil</a>
            </li>
            <li>
                <a href="/">Configurações</a>
            </li>
            <li>
                <a href="/48_Politica_de_privacidade">Política de Privacidade</a>
            </li>
            <li>
                <a href="/52_Denuncia_profissional">Denúncia</a>
            </li>
            <li>
                <a href="/49_Sair_profissional">Sair</a>
            </li>

        </ul>

        <address>

            <h3> Contato </h3>

            <div class="con">

                <img src="img/paula/telefone.svg">

                <a href="tel:+5511999999999">(11) 99999-9999</a>

            </div>

            <div class="con">

                <img src="img/paula/email.svg">

                <a href="mailto:overlock.site@gmail.com">overlock.site@gmail.com</a>

            </div>

            <h3> REDES SOCIAIS </h3>

            <div class="rede">

                <img src="img/paula/instagram.svg" alt="">
                <img src="img/paula/pinterest.svg" alt="">
                <img src="img/paula/twitter.svg" alt="">

            </div>

            <div class="empre">

                <h3> OUTROS SERVIÇOS </h3> <br>

                <a href="" class="transpor"> Cadastrar como transportadora </a>

            </div>

        </address>

        <a href="#logo">

            <img id="inicio" src="img/paula/variações logo/overlock - tipografia.svg">

        </a>

    </footer>

</body>

</html>