<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
      

        <div class="fund">

            <div class="sti">

                <img src="img/paula/variações logo/manequim 511555.svg"> 

            </div>

            <img src="img/paula/variações logo/overlock - tipografia - escuro.svg" id="over">

            <div class="hr2"></div>

            <label for="email">e-mail</label> <br>
            <input type="email" name="email" id="email" placeholder="   digite seu e-mail"> <br>

            <label for="senha">senha</label> <br>
            <input type="password" name="senha" id="senha" placeholder="   digite sua senha" > <br>

              <div class="modal">
                Erro! Senha e / ou usuário
              </div>   
                        



            <a id="email2" href="mailto:">esqueceu a senha ?</a> <br>
           

            <input type="button" onclick="loginDados('val_arjona','1234')" name="enviar" id="enviar">

            <div class="hr2"></div>

            <p class="ult"> ainda não tem uma conta ? </p>
            <a id="cont" onclick="window.location='/CadastroUni'">crie uma conta </a>

        </div>

   
    
</body>
</html>